#main-header, #main-footer, #main-container, #main-nav, #main-article, #main-toolbar, #main-content, #main-aside
{
	padding: 5px;
}

#main-header, #main-footer
{
	color: #044881;
	background-color: #0C7CD9;	
}

#main-container
{
	background-color: #1573C2;
}

#main-nav
{
	color: #039767;
	background-color: #3CC296;
}
		
#main-article
{
	background-color: #FF6A4F;
}	

#main-toolbar
{
	color: #BD490E;
	background-color: #FF8A4F;
}

#main-content
{
	color: #BD810E;
	background-color: #FFC24F;
}

#main-aside
{
	color: #039767;
	background-color: #3CC296;
}