/* Region Box */
.x-rbox {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-flow: wrap row;
	flex-flow: wrap row;
}

.x-north, .x-west, .x-center, .x-east, .x-south {
	
}

.x-west, .x-center, x-east {
	
}

.x-north, .x-south {
	height: 30px;
	-ms-flex: 1 100%;
		flex: 1 100%;
}

.x-east, .x-west {
	width: 50px;
}

.x-center {
	height: calc(100% - 60px);
	-ms-flex: 2 0px;
		flex: 2 0px;
}

.x-west {
	-ms-flex-order: 1;
			 order: 1;
}

.x-center {
	-ms-flex-order: 2;
			 order: 2;
}

.x-east {
	-ms-flex-order: 3;
			 order: 3;
}

.x-south {
	-ms-flex-order: 4;
			 order: 4;
}