/* Horizontal Box and Vertical Box */
.x-hbox, .x-vbox
{
	display: flex;
}

/* Vertical Box */
.x-vbox
{
	flex-direction: column;
}

/* Horizontal Box */
.x-hbox
{
	
}

.x-north, .x-west, .x-center, .x-east, .x-south
{
	
}

.x-north
{
	
}

.x-west
{

}

.x-vbox > .x-center
{
	height: 100%; /* Basic: use all the available space */
}

.x-hbox > .x-center
{
	width: 100%; /* Basic: use all the available space */
}

.x-east
{

}

.x-south
{
	
}