/* Horizontal Box and Vertical Box */
.x-hbox, .x-vbox
{
	display: -webkit-box; /* Safari & Chrome */
	display: -ms-flexbox; /* Internet Explorer */
	display: flex;
}

/* Vertical Box */
.x-vbox
{
	-webkit-box-orient: vertical; /* Safari & Chrome */
	-ms-flex-direction: column; /* Internet Explorer */
		flex-direction: column;
}

/* Horizontal Box */
.x-hbox
{
	
}

.x-north, .x-west, .x-center, .x-east, .x-south
{
	
}

.x-north
{
	
}

.x-west
{

}

.x-vbox > .x-center
{

}

.x-hbox > .x-center
{

}

.x-vbox > .x-center:only-child,
.x-hbox > .x-center:only-child
{
	-webkit-box-flex: 1; /* Safari & Chrome */
	        -ms-flex: 1; /* Internet Explorer */
                flex: 1;
}

.x-vbox > .x-north + .x-center,
.x-hbox > .x-west + .x-center
{
	-webkit-box-flex: 2; /* Safari & Chrome */
			-ms-flex: 2; /* Internet Explorer */
				flex: 2;
}
